In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['1','2','3','4','5'],columns=['C1','C2','C3','C4'])

In [7]:
# to check first 5 values of the dataset
df.head()

   C1  C2  C3  C4
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15
5  16  17  18  19

In [24]:
# to check the data if any row
df.loc['1']

C1    0
C2    1
C3    2
C4    3
Name: 1, dtype: int64

In [25]:
# to check the data of indexes of rows and columns
type(df.loc['1'])

pandas.core.series.Series

In [11]:
df.iloc[:,:]

   C1  C2  C3  C4
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15
5  16  17  18  19

In [12]:
df.iloc[0:3,0:2]

   C1  C2
1   0   1
2   4   5
3   8   9

In [13]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [15]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [17]:
df.iloc[:,:].values.shape

(5, 4)

In [22]:
# to check if any entity is null or not
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
dtype: int64

In [23]:
# to check how many unique elements does a column has
df['C1'].value_counts()

# .unique() does the same thing but it doesn't return the count of the unique entity

C1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64